.review {
  font-size: 0.875rem;
}

.review + .review {
  margin-top: 1.5rem;
}

.header {
  display: grid;
  grid-template-columns: 30px auto auto 1fr auto;
  grid-template-areas: 'userIcon reviewerName title createdAt rating';
  gap: 0.4rem 0.625rem;

  align-items: center;
}

.userIcon {
  grid-area: userIcon;

  fill: var(--color-primary);
}

.reviewerName {
  grid-area: reviewerName;

  font-weight: bold;
}

.reviewerName::after {
  content: ':';
}

.title {
  grid-area: title;
}

.createdAt {
  grid-area: createdAt;

  justify-self: flex-end;
}

.rating {
  grid-area: rating;
}

.createdAt,
.rating {
  white-space: nowrap;
}

.description {
  margin-top: 0.625rem;
}

@media (max-width: 1000px) {
  .header {
    grid-template-columns: 30px auto 1fr;
    grid-template-areas:
      'createdAt createdAt createdAt'
      'userIcon reviewerName rating'
      'title title title';
  }

  .reviewerName::after {
    display: none;
  }

  .rating {
    justify-self: flex-end;
  }
}
