.rating {
  display: flex;
}

.star {
  padding: 0.1875rem;
}

.star.editable {
  cursor: pointer;
}

.starIcon {
  display: block;

  fill: var(--color-gray-light);
}

.starIcon.filled {
  fill: var(--color-primary);
}
