.label {
  display: inline-block;

  margin-right: 5px;
  padding: 5px 10px;

  border-radius: 20px;

  font-weight: bold;
}

.s {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.m {
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.primary {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: transparent;
}

.ghost {
  border: 1px solid var(--color-gray-light);

  font-weight: initial;
}

.gray {
  color: var(--color-white);
  background-color: var(--color-gray);
}

.green {
  color: var(--color-green);
  background-color: var(--color-green-light);
}

.hh {
  color: var(--color-white);
  background-color: var(--color-hh-brand);
}
