.header {
  display: grid;
  grid-template-columns: 70px auto 1fr auto;
  grid-template-areas:
    'logo titleAndCategoriesBox priceBox ratingBox'
    'logo titleAndCategoriesBox priceBox ratingBox';

  align-items: center;
  gap: 0 1.875rem;
}

.logo {
  align-self: center;

  width: 70px;
  height: 70px;

  grid-area: logo;
}

.logo img {
  border-radius: 5px;
}

.titleAndCategoriesBox {
  grid-area: titleAndCategoriesBox;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;

  margin-top: 0.5625rem;
}

.priceBox {
  display: flex;
  justify-content: flex-end;
  grid-area: priceBox;
  gap: 0 1.875rem;
}

.priceValue {
  grid-area: priceValue;
}

.priceTitle {
  grid-area: priceTitle;
}

.creditValue {
  grid-area: creditValue;
}

.creditTitle {
  grid-area: creditTitle;
}

.ratingBox {
  grid-area: ratingBox;
}

.ratingTitle {
  margin-left: 0.3125rem;
}

.priceValue,
.priceTitle,
.creditValue,
.creditTitle,
.ratingValue,
.ratingTitle {
  white-space: nowrap;
}

.priceValue,
.creditValue {
  font-size: 1.25rem;
  line-height: 1.6875rem;
}

.priceTitle,
.creditTitle,
.ratingTitle {
  font-size: 0.875rem;
  line-height: 1.1875rem;
}

.month {
  font-size: 0.875rem;
}

@media (max-width: 1100px) {
  .header {
    grid-template-columns: 70px auto 1fr;
    grid-template-areas:
      'logo titleAndCategoriesBox titleAndCategoriesBox'
      'priceBox priceBox ratingBox';
  }

  .priceBox {
    justify-content: flex-start;
  }

  .priceBox,
  .ratingBox {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .header {
    grid-template-columns: 70px auto 1fr;
    grid-template-areas:
      'logo ratingBox ratingBox'
      'titleAndCategoriesBox titleAndCategoriesBox titleAndCategoriesBox'
      'priceBox priceBox priceBox';
  }

  .logo {
    width: 55px;
    height: 55px;
  }

  .titleAndCategoriesBox {
    margin-top: 1rem;
  }

  .ratingBox {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    margin-top: 0;
    justify-self: flex-end;
  }

  .ratingTitle {
    margin-right: 0.3125rem;
    margin-left: 0;
  }
}
