* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #3b434e;
  --color-gray: #a4a4a4;
  --color-gray-light: #ebebeb;
  --color-gray-dark: #6c7077;
  --color-white: white;
  --color-primary: #7351f5;
  --color-primary-hover: #6344df;
  --color-red: #fc836d;
  --color-red-light: #fea291;
  --color-green: #1dc37e;
  --color-green-light: #c8f8e4;
  --color-hh-brand: #de0000;
  --font-family: 'Noto Sans', sans-serif;
  --font-size: 1em;
}

html {
  color: var(--color-black);

  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  text-decoration: none;

  color: inherit;
}
