.product {
  padding: 1.875rem;
}

.product + .product {
  margin-top: 1.875rem;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 30px;
}

.body {
  display: grid;
  grid-template-columns: [start] 1fr [middle] 1fr [end];
  gap: 1rem 0;
}

.description {
  grid-column: start / end;
}

.characteristics {
  grid-column: start / middle;
}

.adv {
  grid-column: middle / end;
}

.characteristic {
  display: grid;

  align-items: baseline;

  margin-right: 2rem;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
}

.characteristic .dots {
  border-bottom: 1px dashed var(--color-gray-light);
}

.tags,
.disadvantages {
  margin-top: 1.25rem;
}

.advantages,
.disadvantages {
  padding-left: 1rem;

  border-left: 3px solid var(--color-green);
  border-radius: 2px;
}

.disadvantages {
  border-left: 3px solid var(--color-red);
}
