.sortOption {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.sortOption + .sortOption {
  margin-left: 2rem;
}

.sortIcon {
  display: none;

  fill: var(--color-primary);
}

.title {
  margin-left: 0.5rem;
}

.active {
  color: var(--color-primary);

  font-weight: bold;
}

.active .sortIcon {
  display: initial;
}
