.sortOption {
  display: flex;
  align-items: baseline;

  cursor: pointer;

  border: none;
  background-color: transparent;

  font-size: 1rem;
  line-height: 1.375rem;
}

.sortOption + .sortOption {
  margin-left: 2rem;
}

.sortOption.activated {
  color: var(--color-primary);

  font-weight: bold;
}

.sortIcon {
  display: none;

  margin-right: 0.5rem;

  fill: var(--color-primary);
}

.activated .sortIcon {
  display: initial;
}
