.body {
  display: grid;
  grid-template-columns: [start] 1fr [middle] 1fr [end];
  gap: 1rem 0;
}

.description {
  grid-column: start / end;
}

.left {
  grid-column: start / middle;

  margin-right: 1.5rem;
}

.right {
  grid-column: middle / end;

  margin-left: 1.5rem;
}

.characteristic {
  display: grid;

  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
}

.characteristicName,
.advantagesTitle,
.disadvantagesTitle {
  font-weight: bold;
  line-height: 2rem;
}

.characteristic .dots {
  margin-top: 3px;

  border-bottom: 1px dashed var(--color-gray-light);
}

.tags,
.disadvantages {
  margin-top: 1.25rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
}

.advantages,
.disadvantages {
  padding-left: 1rem;

  border-left: 3px solid var(--color-green);
  border-radius: 2px;
}

.disadvantages {
  border-left: 3px solid var(--color-red);
}
