.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'description description'
    'characteristics advantages'
    'characteristics disadvantages'
    'tags tags';
}

.description {
  grid-area: description;
}

.characteristics {
  grid-area: characteristics;

  margin-right: 1.5rem;
}

.advantages {
  grid-area: advantages;

  border-left-color: var(--color-green);
}

.disadvantages {
  grid-area: disadvantages;

  border-left-color: var(--color-red);
}

.tags {
  grid-area: tags;

  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
}

.characteristics,
.advantages {
  margin-top: 1rem;
}

.characteristic {
  display: grid;

  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
}

.characteristicName,
.advantagesTitle,
.disadvantagesTitle {
  font-weight: bold;
  line-height: 2rem;
}

.characteristic .dots {
  margin-top: 3px;

  border-bottom: 1px dashed var(--color-gray-light);
}

.tags,
.disadvantages {
  margin-top: 1.25rem;
}

.advantages,
.disadvantages {
  margin-left: 1.5rem;
  padding-left: 1rem;

  border-left-width: 3px;
  border-left-style: solid;
  border-radius: 2px;
}

@media (max-width: 1320px) {
  .body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'description description'
      'characteristics characteristics'
      'advantages advantages'
      'disadvantages disadvantages'
      'tags tags';
  }

  .characteristics {
    margin-right: 0;
  }

  .advantages,
  .disadvantages {
    margin-left: 0;
  }
}
